<ion-header>
  <ion-toolbar>
    <ion-title>primeroDam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-checkbox slot="start" BackColor="red"></ion-checkbox>
      <ion-label>Base de Datos</ion-label>
      <ion-icon name="rose-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Programacion</ion-label>
      <ion-icon name="paw-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Sistemas Informaticos</ion-label>
      <ion-icon name="medical-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Lenguaje de Marcas</ion-label>
      <ion-icon name="planet-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Entornos de Desarrollo</ion-label>
      <ion-icon name="wine-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Formación y Orientación Laboral</ion-label>
      <ion-icon name="book-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
