<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pag-tabs"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button ion-button icon-only >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Fct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formacion</ion-card-title>
      <ion-buttons slot="end">
        <button ion-button icon-only >
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-avatar>
        <img src="https://previews.123rf.com/images/wad/wad1509/wad150900189/45248768-icono-de-formaci%C3%B3n-concepto-de-negocio-dise%C3%B1o-plano-ilustraci%C3%B3n-aislada-la-larga-sombra-.jpg">
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <p>
        Todos los ciclos formativos incluyen una fase de formación práctica en la empresa, esta fase se desarrolla a través del módulo profesional de Formación en Centros de Trabajo (FCT) no tiene carácter laboral ni relación becaria y se realiza, una vez superados todos los módulos profesionales del ciclo formativo, en el entorno real de la empresa.
      </p>
      
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Trabajo</ion-card-title>
      <ion-buttons slot="end">
        <button ion-button icon-only >
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
      <ion-avatar>
        <img src="https://c8.alamy.com/compes/k3geck/trabajo-en-equipo-diversidad-logotipo-puzzle-k3geck.jpg">
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <p>
        A todos los efectos se trata de estudiantes matriculados en enseñanzas regladas que no tienen el carácter de trabajadores, la FCT será valorada con un APTO O NO APTO, será posible su evaluación en dos convocatorias y la superación de las enseñanzas requerirá la evaluación positiva en todos los módulos profesionales que las componen, por lo que se deberá superar positivamente la FCT para obtener cualquier título de enseñanzas de Formación Profesional.
      </p>
    </ion-card-content>
    
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="add-circle-outline" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      
      <ion-fab-button color="light" href="https://www.twitch.tv/">
        <ion-icon name="logo-twitch"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="light" href="https://twitter.com/home">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="light" href="https://www.youtube.com/">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>

  <ion-tabs>
    <ion-tab-bar tab="bar"  color="primary">
      <ion-tab-button tab="dam1">
        <ion-icon name="happy-outline"></ion-icon>
        <ion-label>1º DAM</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="dam2"  color="primary">
        <ion-icon name="skull-outline"></ion-icon>
        <ion-label>2º DAM</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="fct"  color="primary">
        <ion-icon name="construct-outline"></ion-icon>
        <ion-label>FCT</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
